body {
    background-color: black;
}

h1 {
    color: beige;
    font-weight: normal;
}

p {
    color: aliceblue;
    font-style: italic;
    font-weight: 900;
}


.void {
    float: right;
    margin: -100px;
    width: 20%;
    transform: translateY(-100px);
} 

.titi {
    color: orange;        
    font-size: 10px;
    font-style: normal; 
    font-weight: normal; 
}

.MCR {
    width: 100px;
    height: auto;
}
